NODE_ENV=production

APP_PORT=3003
APP_IMAGE=inmobiliaria-crm-2026:local

# Local development
DATABASE_URL="postgresql://user:password@127.0.0.1:5432/inmobiliaria?schema=public"

NEXT_TELEMETRY_DISABLED=1

AUTH_SECRET="change-me"
MAPBOX_TOKEN="change-me"
NEXT_PUBLIC_MAPBOX_TOKEN="change-me"
NEXT_MAPBOX_STYLE="cmgnbz7aw000u01ry7bnx7rzp"

AWS_ACCESS_KEY_ID="change-me"
AWS_SECRET_ACCESS_KEY="change-me"
AWS_DEFAULT_REGION="mx-central-1"
AWS_BUCKET="change-me"
AWS_USE_PATH_STYLE_ENDPOINT=false
