# App
NODE_ENV=development
APP_PORT=3000

# Base de datos
DATABASE_URL="postgresql://user:password@127.0.0.1:5433/inmobiliaria?schema=public"

# Auth
AUTH_SECRET=
BETTER_AUTH_SECRET=

# Mapbox
MAPBOX_TOKEN=
NEXT_PUBLIC_MAPBOX_TOKEN=
NEXT_MAPBOX_STYLE=

# AWS (S3 + Rekognition)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false
AWS_REKOGNITION_COLLECTION_ID=crm-staff-faces

NEXT_TELEMETRY_DISABLED=1
